@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-secondary-900 bg-gray-50;
        font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    }
}

.glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}